@import url('../css/colors.css');

@font-face {
  font-family:'Source Code Pro';
  src: url('../assets/Source-Code-Pro-Semibold.ttf');
}

.wallpaper {
  background: var(--wallpaper);
  height:100%;
}

* {
  font-family:'Source Code Pro', monospace;
  color:var(--color7);
  font-size:2.5vh;
  transition:0.6s;
}

body {
  background-color:var(--background);
  margin-left: 20%;
  margin-right: 20%;
  padding:20px;
}

li {
  line-height: 1.7;
}

code {
  overflow-x:scroll;
}

.date {
  color:var(--color3);
  font-size:2vh;
}

p {
  text-indent: 50px;
}

h1 {
  color:var(--color2);
  font-size:4vh;
}

h2 {
  color:var(--color1);
  font-size:3vh;
}

h3 {
  color:var(--color4);
}

a {
  color:var(--color5);
  background: linear-gradient(to right, var(--color0), var(--color0)), linear-gradient(to right, var(--color5), var(--color3));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  text-decoration:none;
}

a:hover,
a:focus {
  color:var(--color3);
  background-size: 0 2px, 100% 2px;
}

/*
a {
  color: var(--color5);
  text-decoration: none;
}
*/
img {
  margin-left:auto;
  margin-right:auto;
  display:block;
}
/*
a:hover {
  color: var(--color3);
  text-decoration: underline;
}

a:active {
  color: var(--color2);
}
*/

@media screen and (max-width:600px) {
  body {
    margin-left:5%;
    margin-right:5%;
  }
}

::selection,
::-moz-selection,
::-o-selection,
::-ms-selection, 
::-webkit-selection {
  background-color: var(--color4);
}

pre {
  border:1px solid #dedede;
  border-radius:10px;
}
