@import url('../css/colors.css');

@font-face {
  src: url('../assets/JetBrainsMono-Regular.ttf');
  font-family: "JetBrains Mono";
}

* {
  font-family:'JetBrains Mono', monospace;
  color:var(--foreground);
  transition:0.6s;
}

body {
  background-color:var(--background);
  margin-left: 20%;
  margin-right: 20%;
  padding:20px;
}

li {
  line-height: 1.7;
}

code {
  overflow-x:scroll;
}

.date {
  color:var(--color3);
  font-size:small;
}

p {
  text-indent: 50px;
}

h1 {
  color:var(--color2);
  font-size:larger;
}

h2 {
  color:var(--color1);
  font-size:large;
}

h3 {
  color:var(--color4);
}

a {
  color:var(--color5);
  background: linear-gradient(to right, var(--background), var(--background)), linear-gradient(to right, var(--color5), var(--color3));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  text-decoration:none;
}

a:hover,
a:focus {
  color:var(--color3);
  background-size: 0 2px, 100% 2px;
}

/*
a {
  color: var(--color5);
  text-decoration: none;
}
*/
img {
  margin-left:auto;
  margin-right:auto;
  display:block;
}
/*
a:hover {
  color: var(--color3);
  text-decoration: underline;
}

a:active {
  color: var(--color2);
}
*/

@media screen and (max-width:600px) {
  body {
    margin-left:5%;
    margin-right:5%;
  }
}

::selection,
::-moz-selection,
::-o-selection,
::-ms-selection, 
::-webkit-selection {
  background-color: var(--color4);
}

pre {
  border:1px solid #dedede;
  border-radius:10px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.grid p {
  text-indent: 0;
}

.project {
  background-color: #1b1b25;
  border-radius:5px;
  padding: 10px;
  text-align: center;
}

.project:hover {
  box-shadow: 0px 0px 5px black;
}

hr {
  width: 30%;
}

.badge {
    display: inline-block;
    min-width: 3px; /* pixel unit */
    padding: 7px 10px; /* pixel unit */
    border-radius: 50%;
    font-size: 0.5em;
    text-align: center;
    color: var(--background);
}

.py {
  background-color: var(--color5)
}

.c {
  background-color: grey
}

.gd {
  background-color: teal;
}

