@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


:root {
  --background: #282c34;
  --foreground: #abb2bf;
  
  --color0: #e06c75;
  --color1: #d19a66;
  --color2: #e5c07b;
  --color3: #98c379;
  --color4: #56b6c2;
  --color5: #61afef;
  --color6: #c678dd;
  --color7: #be7d68;
}

* {
  transition: 0.3s;  
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: "FiraCode Nerd Font", "Fira Code", monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.vapor {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color3);

}

.container {
  display: grid;
  grid-template-columns: 1fr 460px 600px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 80px;
  justify-items: center;
  align-items: center;
  min-height: 100%;
}

.left-container {
  grid-area: left;
  aspect-ratio: 1/1;
}

.right-container {
  grid-area: right;
  height: 75%;
  width: 100%;
}

.gif img {
  max-width: 100%;
  max-height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  padding-top: 60px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin:5px;
  border: 1px solid var(--foreground);
  border-radius:5px;
}

.category:hover {
  box-shadow:1px 2px 10px black;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
}

li {
  font-size: 16px;
  list-style-type: none;
  padding: 5px
}

a {
  color:var(--color5);
  background: linear-gradient(to right, var(--background), var(--background)), linear-gradient(to right, var(--color5), var(--color3));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  text-decoration:none;
}

a:hover,
a:focus {
  color:var(--color3);
  background-size: 0 2px, 100% 2px;
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
#username {
  color: var(--color3);
}

#at {
  color: var(--foreground);
}

#hostname {
  color: var(--color5);
}

